@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #ff523b;
    --cor-padrao-hover: #f3b2e5;
    --cor-fonte: #fff;
    --cor-fonte-p: #555;
    --cor-btn: #563434;
    --cor-btn-hover: #15ff00;
    --cor-btn-fonte: #000;
    --cor-fonte-corpo: #555;
    --cor-fonte-corpo-leve: #777;
}

body {

    font-family: 'Poppins', sans-serif;
}

.banner {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    width: 100%;
    /* Garante que o banner ocupe toda a largura da tela */
    height: auto;
    /* Ajusta a altura automaticamente */
    min-height: 100px;
    /* Define uma altura mínima para o banner */
    display: flex;
    /* Para centralizar conteúdo, se necessário */
    align-items: center;
    /* Centraliza verticalmente */
    justify-content: center;
    /* Centraliza horizontalmente */
}

/*Ate aqui esta tudo ok com resposibilidade de sites*/
.banner .linha {

    margin-top: 70px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    /* Certifique-se de que a largura não exceda 100% */
    margin: 0 auto;
    /* Centraliza o container */
    padding: 0 15px;
    /* Adiciona padding, se necessário */
    box-sizing: border-box;
    /* Inclui o padding na largura total */

}

/*Incluindo conteudos no Container sem problemas aparentes*/
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 100%;
    /* Ajusta a largura da imagem para ocupar 100% do seu container */
    height: auto;
    /* Mantém a proporção da imagem */
    object-fit: contain;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {

    display: inline-block;
    list-style-type: none;
    width: 100%;

}

nav ul li {
    display: inline-block;
    margin-right: 20px;

}

nav ul li a {
    text-decoration: none;
    color: var(--cor-fonte);
}

.banner p {
    color: var(--cor-fonte);

}

p {
    color: var(--cor-fonte-p);

}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    height: auto;
    padding: 50px 0;
    margin-top: auto;


}

.col-2 h1 {

    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

.btn {

    text-decoration: none;
    color: var(--cor-fonte);
    background: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;


}

.btn:hover {
    background: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.categorias {
    margin: 70px 0;

}

.corpo-categorias {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4 {
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    margin-bottom: 50px;
    transition: 0.5s;

}

.col-4:hover {
    transform: scale(1.1);
}

.col-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    position: relative;
    line-height: 80px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);


}

.titulo::after {
    content: '';
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h4 {
    color: var(--cor-fonte-corpo);
    font-weight: normal;

}

.col-4 p {
    font-size: 14px;

}

.classificacao ion-icon {

    color: var(--cor-padrao);
}

.ofertas {
    background: radial-gradient(var(--cor-padrao-hover), var(--cor-padrao));
    margin-top: 80px;
    padding: 30px 0;

}

.col-2 .ofertas-img {
    padding: 50px;

}

small {
    color: var(--cor-btn-fonte);
}

.depoimentos {
    padding-top: 100px;


}

.depoimentos .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;



}

.depoimentos .col-3:hover {

    transform: scale(1.1);


}

.depoimentos .col-3 img {
    width: 50px;
    border-radius: 50%;
    margin-top: 20px;
    border: 2px solid var(--cor-padrao);


}

.depoimentos-icone {
    font-size: 34px;
    color: var(--cor-padrao);

}

.col-3 p {
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;

}

.depoimentos .col-3 h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo);
}


.depoimentos-icone {
    font-size: 34px;
    color: var(--cor-padrao);
}

.col-3 p {
    font-size: 13px;
    color: var(--cor-fonte-corpo-leve);
    margin: 12px 0;
}

.depoimentos .col-3 h3 {
    font-size: 16px;
    font-weight: 600;
    color: var(--cor-fonte-corpo-leve);

}

.marcas {
    margin: 100px auto;

}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 150px;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0);

}

.rodape {
    background: var(--cor-btn-fonte);
    color: var(--cor-fonte);
    padding: 60px 0 20px;
    font-size: 14px;



}

.rodape p {
    color: var(--cor-fonte);

}

.rodape h3 {
    color: var(--cor-fonte);
    margin-bottom: 15px;
}

.rodape-col-1,
.rodape-col-2,
.rodape-col-3,
.rodape-col-4 {
    min-width: 250px;
    margin-bottom: 20px;

}

.rodape-col-1 {
    flex-basis: 30%;
}

.rodape-col-2 {
    flex: 1;
    text-align: center;

}

.rodape-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.rodape-col-3,
.rodape-col-4 {
    flex-basis: 12%;
    text-align: right;
}


.rodape-col-3 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.rodape-col-3 ul li {
    width: 15px;
    min-width: 250px;
    margin-bottom: 0px;
    font-size: 15px;
    flex-basis: 12%;
    text-align: right;
    margin: 0;
    

}

.rodape-col-4 ul {
    width: 15px;
    min-width: 250px;
    margin-bottom: 20px;
    font-size: 20px;
    flex-basis: 12%;
    text-align: right;
    margin: 0;

}

.rodape-col-4 ul li {
    width: 15px;
    min-width: 250px;
    margin-bottom: 20px;
    font-size: 20px;
    flex-basis: 12%;
    text-align: right;
    margin: 0;



}

.rodape-col-4 h3 {
    margin-top: 25px;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 100%;
    /* Garante que a logo ocupe toda a largura do contêiner */
    max-width: 140px;
    /* Define um tamanho máximo para a logo */
    height: auto;
    /* Mantém a proporção da imagem */
}

.rodape hr {
    border: none;
    height: 1px;
    background: var(--cor-fonte);
    margin: 20px 0;
    text-align: center;
}

.direitos {
    text-align: center;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;



}

.direitos hr {
    text-align: center;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;



}

.direitos .rodape-col-5 {
    text-align: center;
    font-size: 14px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu-celular {
    width: 28px;
    margin-left: 20px;
    display: none;


}

.novoMenu nav ul li a {
    color: var(--cor-btn-fonte);

}

.novoMenu {
    box-shadow: 0 2px 0 0 rgb(0, 0, 0, 0.1);
}

.linha2 {

    margin: 100px auto 50px;
    justify-content: space-between;
}

.linha2 select {
    padding: 5px;
    border: 1px solid var(--cor-padrao);
}

.lnha2 select:focus {
    outline: none;
}

.paginacao {
    margin: 0 auto 80px;
}

.paginacao span {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid var(--cor-padrao);
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}

.paginacao span:hover {
    background: var(--cor-padrao);
    color: var(--cor-fonte);
}

.ver-produtos {
    margin-top: 40px;
}

.ver-produtos .col-2 img {
    width: 100%;
    padding: 10px;
}

.ver-produtos #produtoImg {
    width: 600px;
    height: 400px;
    object-fit: cover;
    object-position: top;

}

.ver-produtos .col-2 {
    padding: 20px;

}

.ver-produtos h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.ver-produtos select {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--cor-padrao);
    font-size: 20px;

}

.ver-produtos select:focus {
    outline: none;
}

.ver-produtos input {
    width: 50px;
    height: 40px;
    margin-right: 10px;
    padding-left: 10px;
    border: 1px solid var(--cor-padrao);
    font-size: 20px;
}

.ver-produtos input:focus {
    outline: none;
}

.ver-produtos .btn {
    border: none;
    background-color: var(--cor-padrao);
    height: 42px;
    border-radius: 4px;
    cursor: pointer;
}

.ver-produtos .btn:hover {
    background-color: var(--cor-btn-hover);

}

.ver-produtos p {
    font-size: 13px;
}

.img-linha {
    display: flex;
    justify-content: space-between;
    
}

.img-col {
    flex-basis: 25%;
    cursor: pointer;

   
}
.teste-img {
    display: flex; /* Define o container como flex */
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço */
    justify-content: space-between;
}

.teste-img .img-col {
    margin: 0; /* Ajustar a margem para reduzir o espaço ao redor do elemento */
    padding: 15px; /* Espaço dentro do elemento */
    flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
    cursor: pointer;
    font-size: 15px;
    box-sizing: border-box; /* Inclui padding e margin no cálculo da largura */
    overflow: hidden;
}

.teste-img .img-col img {
    width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
    transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
}
.teste-img .img-col:hover img {
    transform: scale(1.1); /* Aumenta a imagem para 110% do seu tamanho original */
}


/*Carrinho de compras*/
.carrinho-compras{
    margin: 80px auto;
}
.carrinho-compras table{
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho{
    display: none; 

}

th{
    background-color: var(--cor-padrao);
    color: var(--cor--fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

td{
padding: 10px 5px;


}

td input{
    width: 50px;
    height: 30px;
    padding : 5px;
    

  }

td a{
    color: var(--cor-padrao);
    font-size: 12px;
    
}

td img{
    width: 100px;
    height: 100px;
    margin-right:  10px;
}

.valor-total{
    display: flex;
    justify-content: flex-end;
    
}

.valor-total table{

    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 600px;
    font-size: 15px;
}

td:last-child{
    text-align: right;

}

th:last-child{
    text-align: right;
}
/*Carrinho de compras*/

/*=============================== Minha Conta ==============================*/

.minha-conta{
    background: radial-gradient(var(--cor-padrao-hover),var(--cor-padrao));
    padding: 50px 0;

}

.formulario{
    position: relative;
    padding: 20px 0;
    text-align: center;
    width: 300px;
    height: 400px;
    margin: auto;
    background-color:var(--cor-fonte);
    box-shadow: 30px 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.formulario samp{
    display: inline;
    width: 100px;
    padding: 0 10px;
    font-weight: bold;
    color: var(--cor-fonte-corpo);
    font-size: 15px;
    cursor: pointer;
}

.bth-form{

    display: inline-block;
}

.formulario form{
    position: absolute;
    top: 110px;
    max-width: 300px;
    padding: 0 20px;

}
.formulario form input{
    width: 100px;
    height: 40px;
    margin: 10px 0;
    padding: 0 10px;
    border:  1px solid var(--cor-padrao);
    border-radius: 3px;
}
/*=============================== Fim minha conta ==============================*/
/*=============================== Modo Celular==============================*/
@media  only screen and (min-width: 75px) and (max-width: 768px) {
    .teste-img .img-col {
        margin: 0; /* Ajustar a margem para dispositivos médios */
        flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
    }
    .teste-img .img-col img {
        width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
        max-width: 100px; /* Limita a largura máxima da imagem */
        transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
    }
}
@media only screen and (min-width: 75px) and(max-width: 768px) {
    .teste-img .img-col {
        margin: 0; /* Ajustar a margem para dispositivos médios */
        flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
    }
    .teste-img .img-col img {
        width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
        max-width: 100px; /* Limita a largura máxima da imagem */
        transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
    }
}
@media only screen and (min-width: 75px) and (max-width: 480px) {
    .teste-img .img-col {
        margin: 0; /* Ajustar a margem para dispositivos menores */
        flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
    }
    .teste-img .img-col img {
        margin: 0;
        width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
        max-width: 200px; /* Limita a largura máxima da imagem para dispositivos menores */
        transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
    }
}

@media only screen and (min-width: 75px) and (max-width: 320px) {
    .teste-img .img-col {
        margin: 0; /* Remove o espaçamento para dispositivos muito pequenos */
        flex-basis: calc(25% - 10px); /* Cada item ocupa 100% do espaço disponível */
    }
}

@media only screen and (min-width: 75px) and (max-width:500px) {
    .logo {
        width: 100%;
        /* Ajuste a largura da logo para telas menores */
        max-width: 200px;
        /* Defina um tamanho máximo, se necessário */
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: var(--cor-btn-fonte);
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: max-height 0.5s;
        min-width: 100%;
        max-width: none;
    }

    .menu-ativo nav ul {
        max-height: 300px;
        /* Ajuste conforme necessário */
    }

    @media only screen and (min-width:100px) and (max-width: 1080px) {

        /* Ajustes específicos para telas menores */
        #MenuItens {
            width: 100%;
            max-width: 100%;
        }
        .info-carrinho p{
            display: none;
        }
    }

    #MenuItens {
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        /* Preto com 50% de transparência */
    }

    .menu-ativo nav ul {
        max-width: 300px;
        transition: max-heitght 0.3s ease-in-out;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: var(--cor-fonte);
    }

    .menu-celular {
        display: block;
    }

    .novoMenu nav ul li a {
        color: var(--cor-fonte);

    }
    .teste-img .img-col {
        margin: 0; /* Ajustar a margem para dispositivos médios */
        flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
    }
    .teste-img .img-col img {
        width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
        max-width: 200px; /* Limita a largura máxima da imagem */
        transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
    }

    @media only screen and (min-width: 100px) and (max-width: 550px) {
        .resolucao {

            /* Estilos para telas entre 100px e 500px */
            .logo {
                width: 100%;
                /* Ajuste a largura da logo para telas menores */
                max-width: 200px;
                /* Defina um tamanho máximo, se necessário */
            }
        }
        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
    }

    @media only screen and (min-width: 100px) and (max-width: 600px) {
        .logo {
            width: 100%;
            /* Ajuste a largura da logo para telas menores */
            max-width: 200px;
            /* Defina um tamanho máximo, se necessário */
        }
        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
        .info-carrinho p{
            display: none;
        }
    }

    /*Forçando o codigo pra que não perca resolução para celulares menores*/


    /*Fim do menu forçando*/

    @media only screen and (max-width:300) {
        .linha {
            text-align: center;
        }

        .col-2,
        .col-3,
        .col-4 {
            flex-basis: 100%;
            min-width: 100%;
        }

        .col-2 h1 {
            font-size: 27px;
        }

        .rodape-col-3,
        .rodape-col-4 {

            text-align: center;

        }

        .col-4 p {
            font-size: 24px;
        }

        .novoMenu nav ul li a {
            color: var(--cor-fonte);

        }

        .ver-produtos .col-2 {
            margin: 20px 0;
        }

        .ver-produtos .linha{
            text-align: left;
        }
        .ver-produtos h1{
            font-size: 26px;
            line-height: 26px;
        }
        .rodape-col-4 ul {
            width: 15px;
            min-width: 250px;
            margin-bottom: 20px;
            font-size: 25px;
            flex-basis: 12%;
            text-align: right;

        }

        .rodape-col-4 ul li {
            width: 15px;
            min-width: 250px;
            margin-bottom: 20px;
            font-size: 20px;
            flex-basis: 12%;
            text-align: right;
            margin: 0;



        }

        .rodape-col-3 ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .rodape-col-3 ul li {
            width: 15px;
            min-width: 250px;
            margin-bottom: 0px;
            font-size: 15px;
            flex-basis: 12%;
            text-align: right;




        }

        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
        .info-carrinho p{
            display: none;
        }
    }

    /*Esse resolução foi feita com classe pra utilização de codigo*/

    @media only screen and (min-width: 100px) and (max-width: 800px) {
        .resolucao .logo {
            width: 100%;
            /* Ajuste a largura da logo para telas menores */
            max-width: 200px;
            /* Defina um tamanho máximo, se necessário */
        }

        .resolucao nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: var(--cor-btn-fonte);
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height 0.5s;
            min-width: 100%;
            max-width: 0;
        }

        .resolucao .menu-ativo nav ul {
            max-height: 300px;
            /* Ajuste conforme necessário */
        }

        .resolucao nav ul li {
            display: block;
            /* Altere para bloco */
            margin-top: 10px;
            margin-right: 0;
            /* Remova margem direita para menu em coluna */
            margin-bottom: 10px;
        }
        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
        .info-carrinho p{
            display: none;
        }
    }

    @media only screen and (min-width: 100px) and (max-width: 740px) {
        .resolucao .logo {
            width: 100%;
            /* Ajuste a largura da logo para telas menores */
            max-width: 200px;
            /* Defina um tamanho máximo, se necessário */
        }
    }

    @media only screen and (min-width: 100px) and (max-width: 600px) {
        .resolucao .logo {
            width: 100%;
            /* Ajuste a largura da logo para telas menores */
            max-width: 200px;
            /* Defina um tamanho máximo, se necessário */
        }

        .resolucao nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: var(--cor-btn-fonte);
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height 0.5s;
            min-width: 100%;
        }

        .resolucao #MenuItens {
            width: 100%;
            max-width: 100%;
        }
        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(25% - 10px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
        .info-carrinho p{
            display: none;
        }
    }

    .resolucao #MenuItens {
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    .resolucao .menu-ativo nav ul {
        max-width: 300px;
        transition: max-height 0.5s ease-in-out;
    }

    .resolucao nav ul li {
        display: block;
        margin-top: 10px;
        margin-right: 50px;
        margin-bottom: 10px;
    }

    .resolucao nav ul li a {
        color: var(--cor-fonte);
    }

    .resolucao .menu-celular {
        display: block;
    }

    .resolucao .novoMenu nav ul li a {
        color: var(--cor-fonte);
    }

    @media only screen and (max-width: 100px) and (min-width: 400px) {
        .resolucao nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: var(--cor-btn-fonte);
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: max-height 0.5s;
            min-width: 100%;
        }

        .resolucao .linha {
            text-align: center;
        }

        .resolucao .col-2,
        .resolucao .col-3,
        .resolucao .col-4 {
            flex-basis: 100%;
            min-width: 100%;
        }

        .resolucao .col-2 h1 {
            font-size: 27px;
        }

        .resolucao .rodape-col-3,
        .resolucao .rodape-col-4 {
            text-align: center;
        }

        .resolucao .col-4 p {
            font-size: 24px;
        }

        .resolucao .novoMenu nav ul li a {
            color: var(--cor-fonte);
        }
        .teste-img .img-col {
            margin: 0; /* Ajustar a margem para dispositivos médios */
            flex-basis: calc(50% - 20px); /* Cada item ocupa 25% do espaço disponível menos a margem */
        }
        .teste-img .img-col img {
            width: 100%; /* Faz a imagem ocupar toda a largura do elemento */
            max-width: 200px; /* Limita a largura máxima da imagem */
            transition: transform 0.5s; /* Adiciona uma transição suave ao efeito */
        }
    }
    .info-carrinho p{
        display: none;
    }
}


.resolucao {
    /* As regras padrão (caso queira manter) */


    @media (max-width: 768px) {
        .resolucao body {
            background-color: var(--cor-padrao-hover), var(--cor-padrao);
        }
    }

    @media (max-width: 480px) {
        .resolucao body {
            font-size: 12px;
        }
    }

    @media (max-width: 1024px) {
        .resolucao body {
            padding: 10px;
        }
    }

    @media (max-width: 600px) {
        .rodape-col-4 ul li {
            width: 15px;
            min-width: 250px;
            margin-bottom: 20px;
            font-size: 20px;
            flex-basis: 12%;
            text-align: right;
            margin: 0;
        
        }
        
        .ver-produtos .col-2 {
            margin: 20px 0;
        }

        .ver-produtos .linha{
            text-align: left;
        }
        .ver-produtos h1{
            font-size: 26px;
            line-height: 26px;
        }
    }
    .info-carrinho p{
        display: none;
    }
}

.footer {
    margin-top: auto;
}